@model Lab12.Models.Article

@{
    ViewData["Title"] = "Details";
    string imagePath = "/image/default.png";
    if (Model.ImagePath != null)
    {
        imagePath = "/upload/" + Model.ImagePath;
    }
}

<h1>Details</h1>
<h4>Article</h4>
<hr />
<div class="row">
    <div class="col-md-3">
        <dl class="row">
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Category.Name)
            </dd>
        </dl>
    </div>
    <div class="col">
        <img src="@imagePath" alt="Image" style="max-width: 750px; max-height: 430px;" />
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <a asp-controller="Checkout" asp-action="AddItem" asp-route-id="@Model.Id">Add to checkout</a>
</div>
